//primary clolors:
$buttonBg: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$mainBg: hsl(239, 57%, 85%);
$paleRed: #ffb8bb; //color for delate hover
// Neutral color
$nameColor: hsl(212, 24%, 26%);
$cancelBg: hsl(211, 10%, 45%);
$lightgray: hsl(223, 19%, 93%);
$vlg: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);
//Topography
//bory family
$family: "Rubik", sans-serif;
// paragraph size
$pSize: 16px;
// breakpoint
$mobile: "(max-width: 767px)";
$small: "(min-width: 768px) and (max-width: 921px)";
$otherScreen: "(min-width: 922px)";
